services:
  dashi:
    build: .
    container_name: dashi
    ports:
      - "8080:8080"
    environment:
      APP_ADDR: ":8080"
      APP_DATA_DIR: "/data"
      APP_RETENTION_DAYS: "14"
      TELEGRAM_BOT_TOKEN: ""
      TELEGRAM_CHAT_ID: ""
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data:/data
    restart: unless-stopped
